.container {
    background-color: darkblue;
    font-weight: bold;
    color: white;
}

.navbar {
    background-color: darkblue;
}

.nav-item:hover {
    background-color: green;
    text-align: center;
}