<div class="flat-header-wrap">
    <div class="header widget-header widget-header-style2 clearfix">
        <div class="container">
            <div class="header-wrap clearfix">
                <div class="row">
                    <div class="col-lg-3">
                        <div>
                            <img src="../assets/images/cigt-logo.png" alt=" rffrf " style="height: 0%; width: 50%; ">
                        </div>
                    </div>
                    <div class="col-lg-9 ">
                        <div class="row ">
                            <div class="col-lg-3 mb-2 ">
                                <div class="widget widget-info color35d ">
                                    <div class="textwidget clearfix ">
                                        <div>
                                            <div class="info-icon ">
                                                <i class="fa fa-phone "></i>
                                            </div>
                                        </div>

                                        <div class="info-text ">
                                            <h6 class="text-dark ">+91 7397331550</h6>
                                            <p>info&#64;cigt.in</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-1 mb-1 ">
                            </div>
                            <div class="col-lg-5 mb-5 ">
                                <div class="widget widget-info color35d ">
                                    <div class="textwidget clearfix ">
                                        <div class="info-icon ">
                                            <i class="fa-solid fa-location-dot "></i>
                                        </div>
                                        <div class="info-text-locaion ">
                                            <h6 class="text-dark ">No 15,Nehru street ,bhuvaneshwari <br>Amman Nagar,Thailavaram,Guduvan</h6>

                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3 mb-2 ">
                                <div class="widget widget-info color35d ">
                                    <div class="textwidget clearfix ">
                                        <div class="info-icon ">
                                            <i class="fa-regular fa-clock "></i>
                                        </div>
                                        <div class="info-text ">
                                            <h6 class="text-dark ">24/7</h6>
                                            <p>365 Days</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>